*,
* ::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
  height: 100vh;
}

nav {
    background-color: #fff;
}


.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.main-header-section {
  border-radius: 0 0 0 100px;
}

.header-section {
  background-image: url(./images/backgroundImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  width: 70%;
}

.header-section h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.work-section {
  padding: 120px 0;
}

.frame-divider {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 100%;
}

.frame-divider-right {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    border-radius: 100%;
    margin-top: 9px;
  }

.f-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.work-section .badge {
  color: #6070ff !important;
  background: #ebebff !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

#about {
    border-radius: 0 100px 0 0;
    padding-bottom: 200px;
  }

  .about-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .dropdown-toggle {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #344563;
    height: 72px;
    border-bottom: 1px solid #dfe1e6;
  }

  .Img {
    width: 48px;
  }

  .list-unstyled ul li {
    width: 112px;
    height: 120px;
  }

  .list-unstyled ul li a {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
  }

  footer {
    background-image: url(./images/background-2.png);
    background-color: #fff !important;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }

  .contact {
    padding: 6.4375rem 1.5rem 0 1.5rem;
    background-image: url(./images/background-1.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
  }